@page
@model MessageBatchPageModel
@{
    Layout = null;
}

<!-- WARNING: Reverse order due to messages css - from bottom to top -->

@if (Model.CheckForResponse &&
    Model.Messages.Count > 0 &&
    Model.Messages.First().SenderType == SenderType.User)
{
    // If we didn't get a message reply after sending
    // happens on conversation initialization after the first message
    <partial name="/Pages/Elements/Index/_ResponsePartial.cshtml" model="@Model.ResponseMessage" />
}

@foreach (var message in Model.Messages)
{
    @if (message.SenderType == SenderType.User)
    {
        <div class="message sent">
            <div class="msg-text">
                <p>
                    @message.Text
                </p>
                <span class="time">@message.CreationDatetime </span>
            </div>
        </div>
    }
    else
    {
        <div class="message received">
            <div class="msg-text">
                <p>
                    @message.Text
                </p>
                <span class="time">@message.CreationDatetime </span>
            </div>
        </div>
    }
}


@if (Model.LastLoadedMessageId != null)
{
    <div hx-get="/Elements/Index/_MessageBatch?ConversationId=@Model.ConversationId&PreviousMessageId=@Model.LastLoadedMessageId"
    hx-trigger="intersect once"
    hx-swap="outerHTML">
        
    </div>
}
